<style lang="css">
  .font-titulo{
    font-family: 'Lato', sans-serif;
    /*font-family: 'Anton', sans-serif;*/
  }
</style>
<template>
  <div class="max-w-mx w-full shadow-md p-1 ">
    <div class="grid grid-cols-12 gap-2 md:gap-4 px-1 py-5 bg-gray-100" id="MENU">
      <div class="col-span-5 md:col-span-3 flex justify-center items-center">
        <img src="assets/img/logo.png" class="w-4/5" alt="logo">
      </div>
      <div class="col-span-5 md:col-span-1 flex justify-center items-center">
        <button class="py-2 px-3 bg-cyan-500 text-white text-sm font-semibold rounded-md shadow-lg shadow-cyan-500/50 focus:outline-none">Llamar ahora</button>
      </div>
      <div class="col-span-2 md:col-span-8 flex justify-end items-center">
        <component :is="features[0].icon" class="h-8 w-8" aria-hidden="true" />
      </div>
    </div>
    <div class="grid grid-cols-12 gap-2 md:gap-4 px-4 py-5" id="principal">
    
      <div class="col-span-12 ">
      <h1 class="text-gray-300">H&E Consultores</h1>
        <div class="h-80 relative bg-[url('/assets/img/ejemplo.jpg')] min-h-max bg-cover bg-no-repeat bg-center before:bg-[url('/assets/img/splash20.jpg')] before:absolute before:w-full before:h-full  before:top-0 before:left-0 before:bg-cover before:bg-center before:mix-blend-screen">
        
        </div>
      </div>
      <div class="col-span-12">
        <h2 class="text-xl font-bold font-titulo">¿Quiénes Somos?</h2>
        <p class="text-justify font-sans py-4 font-titulo indent-8">H&E Consultores es una empresa que ofrece una variedad de servicios referente a la ingeniería de sistemas, ingeniería informática, gerencia de proyectos y aspectos financieros. Cubre la evaluación de proyectos, elaboración de documentos, capacitación, análisis, investigación y apoyo en los diseños de procesos.</p>
      </div>
    </div>
    
    <!-- <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 bg-red-900">
      <div class="lg:text-center">
        <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">Transactions</h2>
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
          A better way to send money
        </p>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
          Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in accusamus quisquam.
        </p>
      </div>

      <div class="mt-10">
        <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
          <div v-for="feature in features" :key="feature.name" class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                <component :is="feature.icon" class="h-6 w-6" aria-hidden="true" />
              </div>
              <p class="ml-16 text-lg leading-6 font-medium text-gray-900">{{ feature.name }}</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">
              {{ feature.description }}
            </dd>
          </div>
        </dl>
      </div>
    </div> -->
  </div>
</template>

<script>
import { AnnotationIcon, MenuIcon , LightningBoltIcon, ScaleIcon } from '@heroicons/vue/outline'

const features = [
  {
    name: 'Competitive exchange rates',
    description:
      'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
    icon: MenuIcon,
  },
  {
    name: 'No hidden fees',
    description:
      'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
    icon: ScaleIcon,
  },
  {
    name: 'Transfers are instant',
    description:
      'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
    icon: LightningBoltIcon,
  },
  {
    name: 'Mobile notifications',
    description:
      'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
    icon: AnnotationIcon,
  },
]

export default {
  setup() {
    return {
      features
    }
  },
}
</script>